:root {
    background-color:#e8f3ff;
    font-size: 10px;
    font-family: Arial, Helve,tica, sans-serif;
    color: #332;
  }

  h1 {
    font-size: 50px;
    color: #50a6f1;
    margin-bottom: 60px;
  }

  .container {
        background-image: url("background.png");
        background-position-x: -220px;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 120rem;
        margin: auto;
        padding: 20px;

    }

    .start {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn {
        font-size: 20px;
        padding: 10px;
        width: 180px;
        text-align: center;
        border: 1px solid #50a6f1;
        text-decoration: none;
        color: #50a6f1;
        background-color: white;
    }

    .btn:hover {
        cursor: pointer;
        box-shadow: 0 4px 14px 0 rgba(99, 195, 243, 0.5);
        transform: translateY(-1px);
    }
